<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=comunicado.autor.username) }}">
                <img src="{{ comunicado.autor.avatar(70) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('user', username=comunicado.autor.username) }}">
                {{ comunicado.autor.username }}
            </a>
            título:
            <br>
            {{ comunicado.titulo }}
        </td>
    </tr>
</table>