{% extends "base.html" %}

{% block content %}
    <h1>Olá, {{ current_user.username }}!</h1>
    
    <!-- 
        Adicionado um IF para validacao da variavel form, 
        a chamada para essa pagina pode ser feita de um redirect
        que nao contem este objeto 
    -->
    {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.post.label }}<br>
                {{ form.post(cols=32, rows=4) }}<br>
                {% for error in form.post.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endif %}
    
    <a href="{{ url_for('explore') }}">Navegar</a>

    {% for comunicado in comunicados %}
        <p> {% include '_post.html' %} </p>
    {% endfor %}

    {% if prev_url %}
        <a href="{{ prev_url }}">Mais novas</a>
    {% endif %}

    {% if next_url %}
        <a href="{{ next_url }}">Mais velhas</a>
    {% endif %}

{% endblock %}